.header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  left: 250px;
  z-index: 900;
  height: 60px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

.logo a {
  color: #2c3e50;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
}

.user-info {
  position: relative;
}

.user-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profile-icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #3498db;
}

.user-name {
  font-weight: 500;
  color: #2c3e50;
  margin-bottom: 2px;
}

.dropdown-menu {
  min-width: 200px;
  font-size: 0.9rem;
  margin-top: 10px;
  padding: 0.5rem 0;
  animation: fadeIn 0.2s ease-in-out;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f1f1f1;
  color: #2c3e50;
  cursor: pointer;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    /* transform: translateY(-5px); */
  }
  to {
    opacity: 1;
    /* transform: translateY(0); */
  }
}

@media screen and (max-width: 768px) {
  .header {
    left: 0;
  }

  .logo a {
    font-size: 1.2rem;
  }

  .user-name {
    font-size: 0.9rem;
  }

  .user-role-badge {
    font-size: 0.7rem;
  }
}
